.diary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.diary__detail {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.diary__crud {

    margin-bottom: 5%;
}

.diary__side {
    display: flex;
    justify-content: space-between;
}