{% extends 'main_diary/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'main_diary/stylesheet/diary_detail.css' %}">
{% endblock %}

{% block title %}
<title>{{ diary.title }} - Diary</title>
{% endblock %}

{% block main %}
    <div class="diary">
        <div class="diary__detail">
            <div>
                <h1>{{ diary.title }}</h1>
                <h4>{{ diary.created_at }}</h4>
                {% if diary.image %}
                    <div>
                        <img src="{{ diary.image.url }}" alt="no image">
                    </div>
                {% endif %}
                <p>{{ diary.content }}</p>
            </div>
        </div>
        <div class="diary__wrap-crud">
            <div class="diary__crud diary__crud-btn"><a href="#">수정</a> </div>
            <div class="diary__crud diary__crud-btn"><a href="#">삭제</a> </div>
        </div>
        <div class="diary__side">
            <div>
                <a href="/diaries">일기장 목록</a>
            </div>
            <div>
                <a href="#top">맨위로</a>
            </div>
        </div>
    </div>
{% endblock %}