{% extends 'main_diary/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_diary/stylesheet/diary_list.css' %}">
{% endblock %}

{% block title %}
<title>Diary List</title>
{% endblock %}

{% block main %}
    <div>
        <h1>나의 일기 목록</h1>
        <span class="diary__create"><a href="#">일기 작성</a></span>
        <hr/>
    </div>
    <div class="diaries">
        {% for diary in diary_list %}
            <div class="diaries__diary">
                <a href="/diaries/{{ diary.pk }}">
                    <div class="diaries__title">
                        {{ diary.title | truncatewords:15 }}
                    </div>
                    <div class="diaries__created-at">
                        {{ diary.created_at }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

