<!doctype html>
{% load socialaccount %}
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div style="display: flex; width: 30%; justify-content: space-evenly">
        <div>
            <a role="button" type="button" href="/accounts/login">Login with ID</a>
        </div>
        <div>
            <a role="button" type="button" href="{% provider_login_url 'google' %}">Login with Google</a>
        </div>
    </div>
    <div style="display: flex; width: 30%; justify-content: center">
        <div>
            <a role="button" type="button" href="/accounts/signup">Sign Up with ID</a>
        </div>
    </div>

</body>
</html>